@{
    ViewBag.Title = "画像リスト";
}

@section scripts
{
    <script type="text/javascript">

    </script>
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (var i = 0; i < ViewBag.BlobList.Count; i++)
            {
                <li data-target="#carousel-example-generic" data-slide-to="@i" @if (i == 0) { this.WriteLiteral("class='active'"); }></li>
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @foreach (var imageUrl in ViewBag.BlobList)
            {
                var val = ViewBag.BlobList.IndexOf(imageUrl);
                var classActive = (val == 0 ? "active" : "");
                <div class="item @classActive" >
                    <img src="@imageUrl" class="img-responsive" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
